body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000; /* Set background to black */
    color: #fff; /* White text for contrast */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffa500; /* Orange color for the heading */
}

button {
    background-color: #1a1818; /* Dark button background */
    color: #fff; /* White text */
    border: 2px solid #4e3e21; /* Orange border for buttons */
    padding: 15px 25px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 60px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #544b3b; /* Highlighted button background */
    color: #000; /* Change text color on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.result {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf50; /* Green for results */
}

.js-score {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ffa500; /* Orange for score */
}

img {
    width: 50px;
    height: 50px;
}

p {
    margin: 10px 0;
}
.result{
    color: #8f8bbc;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score{
    margin-top: 60px;

}
.button-container {
    display: flex;
    gap: 10px; /* Adds spacing between buttons */
    justify-content: center; /* Centers the buttons */
    align-items: center;
}
.reset-score-button{
    background-color: #7f824c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.auto-play-button{
    background-color: #7f824c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}